/**Options***/
.option-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(235, 86, 228, 0.5);
  background-color: white;
  border-radius: 1rem
}

.option-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(235, 86, 228, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.option-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #eb56be;
  color: white;
  border-radius: 1rem
}

.option-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color:#0f0;
}

.incorrect {
  background-color: #f00;
}


/*** HeadingBar **/
#headingBar {
  display: flex;
  justify-content: space-between;
}

.headingBar-prefix {
  text-align: center;
  font-size: 2rem;
}


.headingBar-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  background-color: white;
  border: 0.3rem solid #eb56be;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #eb56be;
  width: 0%;
}


/*** Loader ***/
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #eb56be;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
